# Stripe
STRIPE_SECRET_KEY=sk_test_...
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_...

# Public price IDs from Stripe (set these to the Product IDs you create)
NEXT_PUBLIC_STRIPE_PRICE_FREE=
NEXT_PUBLIC_STRIPE_PRICE_PRO=prod_UjZ9bGau4TRDpx
NEXT_PUBLIC_STRIPE_PRICE_TEAM=prod_UjZAZkazu0bMDv

# App origin used for success/cancel redirects (optional)
NEXT_PUBLIC_APP_URL=http://localhost:3000

# Webhook secret returned by Stripe CLI or your Stripe webhook settings
STRIPE_WEBHOOK_SECRET=whsec_...
